<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>

    <add key="LinkAPI_DatHang" value="https://dathang.ximanghoangmai.vn" />
    <add key="client_secret" value="20621d82-e496-4d65-a8e9-50d117d597fb" />
    <add key="username" value="mobifone" />
    <add key="password" value="mobi@A123456" />
    <add key="client_id" value="websale-api" />
    
    
    
    <add key="LinkAPI_Scale_Prod" value="http://192.168.158.6:6688"/>
    <add key="client_secret_scale_prod" value="de680f63-4361-4020-a7dd-29c2755418e4"/>
    <add key="client_id_scale_prod" value="weight-api"/>
    
    
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
</configuration>
