
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Simple Map</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAawlVrfhzkSw7khGTDN4T1ZO3oAOlY4Vc&callback=initMap&libraries=&v=weekly"
            async></script>
</head>
<body>
    <style>
        #map {
            height: 100%;
        }

        /* Optional: Makes the sample page fill the window. */
        html,
        body {
            height: 100%;
            margin: 0;
            padding: 0;
        }

    </style>
    <div id="map"></div>

    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
   
    <script>
        let map;
        function initMap() {
            map = new google.maps.Map(document.getElementById("map"), {
                center: { lat: -34.397, lng: 150.644 },
                zoom: 8,
            });
        }
    </script>
</body>
</html>
