
@{
    ViewBag.Title = "Index";
}
@section metatags
{
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
}
@model List<XHTD_WEB.Models.PLCM221OutputStatus>
<style>
    .card-item {
        /*width: 75rem;*/
        padding: unset;
    }

    .card-container {
        margin: 0 auto;
        /*width: max-content;*/
        background-color: lightgray;
        padding: 0px 0px;
    }

    .card-header {
        background-color: #885d5d;
        color: white;
        text-align: center;
        font-size: 20px;
    }

    .control-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .container-fluid {
        padding: 0px;
    }

    .btn-fit {
        height: 39px;
        width: -webkit-fill-available;
    }

    .list-group-item .toggle {
        width: 200px;
    }

    .display-block {
        display: block;
    }

    .display-none {
        display: none;
    }
</style>


<div class="card-container row">

    <div class="card card-item" style="margin-bottom: 15px;">
        <div class="card-header" style="background-color: red">
            Lưu ý chỉ set đèn đang sáng và nhấn 1 lần
        </div>
        <div class="card-body">
            <p>
                Trạng thái đèn:
            </p>
            @foreach (var item in Model)
            {
                <button type="button" class="btn @(item.Active == true ? "btn-danger" : "btn-light")">@item.Port</button>
            }
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <div class="control-container">
                    <div class="control-container">
                        <input type="text" class="form-control" id="number_light_m221" name="maxVehicleTrough" title="số lượng" placeholder="nhập giá trị...">
                        <button class="btn btn-primary btn-fit" onclick="saveConfigMaxVehiceTrough()">Ghi Nhận</button>
                    </div>
                </div>
            </li>
        </ul>
    </div>


</div>
@*@ViewBag.IsCall*@
<script>
    $(document).ready(function () {


    });
    function saveConfigMaxVehiceTrough() {
        $.ajax({
            type: "POST",
            url: "/PLC/SetLightM221?value=" + $("#number_light_m221").val(),
            dataType: "json",
            success: function (response) {
                alert("Set thành công");
            },
            failure: function (response) {
                toastr.success(response);
            },
            error: function (response) {
                toastr.success(response);
            }
        });
    }



    function ShowHistoryCall(id) {
        $.ajax({
            type: "GET",
            url: "/Setting/GetHistoryCall?id=" + id,
            dataType: "json",
            success: function (response) {
                console.log(response);
                $("#history_call_" + id).html(response);
            },
            failure: function (response) {
                toastr.success(response);
            },
            error: function (response) {
                toastr.success(response);
            }
        });
    }
    function SetStepOrderFunc(id, step) {
        $.ajax({
            type: "POST",
            url: "/Setting/SetStepOrder?id=" + id + "&step=" + step,
            dataType: "json",
            success: function (response) {
                toastr.success(response);
            },
            failure: function (response) {
                toastr.success(response);
            },
            error: function (response) {
                toastr.success(response);
            }
        });
    }

    function ShowAction(id) {
        console.log(id);
        document.getElementById("actions_" + id).removeClassName = "display-none";
        document.getElementById("actions_" + id).className = "display-block";
    }

</script>